
# COMPOSE_PROFILES=api

# LLM_PROVIDER=api
# LLM_MODEL=openrouter/free 

# LLM_API_KEY=
# LLM_BASE_URL=https://openrouter.ai/api/v1

# LOG_LEVEL=INFO

#------------------------------------------------

COMPOSE_PROFILES=local

# LLM configuration: LOCAL -> local API -> api
LLM_PROVIDER=local
# si usamos el remoto : openrouter/free sino dejamos vacio
LLM_MODEL=

# Only required for OpenAI mode --> si es en local se deja vacio
LLM_API_KEY=
LLM_BASE_URL=

# Application
LOG_LEVEL=INFO